<% if @product.questions.exists?%>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">質問者：<%=question.user.nickname%>さん（<%=question.user.profession%>）</li>
        <li class="list-group-item"><big> Q </big><%= question.text %></li>
        <li class="list-group-item text-right">
          <span class="pull-left">
          <!-- 後で質問の編集を追加する -->
          </span>
          <small>投稿日<%= question.created_at.strftime('%Y年%m月%d日 %H:%M')%></small>
        </li>
      </ul>
    </div>
<% else %>
  <h4>この製品への質問はありません。<br>質問を投稿しませんか？</h4>
  <button type="button" class="btn btn-default">
  <%= link_to '質問をする', "/products/#{@product.id}/questions/new", method: :get %>
  </button>
<% end %>