<% if @product.questions.exists?%>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">質問者：<%=question.user.nickname%>さん（<%=question.user.profession%>）</li>
        <li class="list-group-item"><big> Q </big><%= question.text %></li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <ul style="list-style:none;" class="list-inline">
              <%= link_to "回答#{question.answers.count}件", product_question_path(question.product, question) %>
              <li>
                <%= form_tag(new_answer_path, method: :get) do %>
                  <%= hidden_field_tag(:question_id, question.id) %>
                  <%= submit_tag("回答する", :class => "btn btn-default btn-xs") %>
                <% end %>
              </li>
            </ul>
          </span>
          <small>投稿日<%= question.created_at.strftime('%Y年%m月%d日 %H:%M')%></small>
        </li>
      </ul>
    </div>
<% else %>
  <h4>この製品への質問はありません。<br>質問を投稿しませんか？</h4>
  <button type="button" class="btn btn-default">
  <%= link_to '質問をする', "/products/#{@product.id}/questions/new", method: :get %>
  </button>
<% end %>