<div class="container">
  <div class="row">
    <div class=header>
      <h1><%= @corporation.corporate_name %>製品一覧</h1>
    </div>
      <% @corporation.products.each do |product| %>
          <div class="col-sm-6 col-md-4 row-eq-height index_box">
            <div class="thumbnail">
              <img src="<%= product.image_url %>" class="product_image">
              <div class="caption">
                <h3><a href="/corporations/<%=@corporation.id %>/products/<%= product.id %>"><%= product.product_name %></a></h3>
                <p><%= product.info %></p>
                <p><a href="<%=product.product_url %>" class="btn secondary" role="button">製品HP</a>
                <a href="/corporations/<%=@corporation.id %>/products/<%= product.id %>" class="btn btn-default" role="button secondary">レビュー</a></p>
              </div>
            </div>
          </div>
      <% end %>
  </div>
</div>