<div class="container">
  <div class="row ">
    <div class="col-xs-10 col-lg-6">
      <%= form_for (@answer) do |f| %>
      <h3><big> Q </big><%= @question.text %></h3>
      <div class="form-group">
        <%= f.text_area :text, placeholder: "回答を入力してください", cols:"30", rows:"10", autofocus:"true", class:"form-control" %>
      </div>
      <%= f.hidden_field :question_id %>
      <%= f.submit "回答する", class:"btn btn-primary withripple"%>
    <% end %>
    </div>
  </div>
</div>