
<div class="container">
  <div class="row">
    <h1>製品一覧</h1>
      <!-- テーブルからデータを取り出して表示 -->
      <% @products.each do |product| %>
        <div class="col-xs-6 col-lg-4 row-eq-height index_box">
        <ul class="list-inline">
          <li><h4><a href="/products/<%= product.id %>"><%= product.product_name %></a></h3></li>
          <li><p class="text-small">
              <% if product.reviews.present? %>
                <span class="rating-star">
                  <!-- product.rbで定義した平均値を求めるメソッドreview_averageを呼び出し -->
                  <i class="star-actived rate-<%= product.review_average %>0"></i>
                </span>
              <% else %>
                <span class="rating-star">
                  <i class="star-actived rate-0"></i>
                </span>
              <% end %>
            </p></li>
          <li><button type="button" class="btn btn-default btn-sm"><a href="<%=product.product_url %>">製品HP</a></button></li>
        </ul>
        <p><%= product.info %></p>
        <image src="<%= product.image_url %>" class="product_image"></image>
        </div>
      <% end %>
  </div>
</div>

