<div class="container">
<!-- フラッシュメッセージの表示 -->
<!--   <% if flash[:notice] %>
    <div class="alert alert-success">
    <%= flash[:notice] %>
    </div>
  <% end %> -->
<!-- フラッシュメッセージの表示 -->
  <div class="row">
    <div class="col-xs-10 col-lg-10">
      <ul class="list-inline">
        <li><h1><%= @product.product_name %></h1></li>
        <li>満足度 ☆☆☆☆☆</li>
        <li>レビュー◯◯件</li>
        <li><a href="<%=@product.product_url %>">製品ホームページへ</a></li>
      </ul>
      <p><%= @product.info %></p>
      <image src="<%= @product.image_url %>"></image>
    </div>
  </div>
  <div class="low">
    <button type="button" class="btn btn-default"><a href="/products/<%= @product.id %>/reviews/new">レビューを書く</a></button>
    <button type="button" class="btn btn-default"><a href="/products/<%= @product.id %>/reviews/new">レビューを見る</a></button>
  </div>
</div>
