<div class="container">
  <div class="row">
    <div class="col-xs-10 col-lg-10">
      <ul style="list-style:none;">
        <li><h1><%= @product.product_name %></h1></li>
          <ul class="list-inline">
            <li>平均満足度
              <% if @product.reviews.present? %>
                <span class="rating-star"><i class="star-actived rate-<%=@product.review_average %>0"></i></span>
                <% else %>
                <span class="rating-star"><i class="star-actived rate-0"></i></span>
              <% end %>
            </li>
            <li>レビュー数 <%= @product.reviews.length %>件</li>
            <li><%= @product.corporation.corporate_name %></li>
            <li>製品群</li>
            <li><a href="<%=@product.product_url %>">製品ホームページ</a></li>
          </ul>
      </ul>
    </div>

    <div class="col-xs-10 col-lg-3 ">
      <%= image_tag("#{@product.image_url}", :size => "30x30") %>
    </div>
    <div class="col-xs-10 col-lg-5">
      <p><%= @product.info %></p>
      <button type="button" class="btn btn-default">
        <%= link_to 'レビューを書く', "/products/#{@product.id}/reviews/new", method: :get %>
      </button>
      <button type="button" class="btn btn-default">
        <%= link_to '質問をする', "/products/#{@product.id}/questions/new", method: :get %>
      </button>

    </div>

  </div>


<!-- レビューの表示-->
    <div class="col-xs-10 col-lg-6">
      <% if @product.reviews.exists? %>
        <h3>レビュー</h3>
        <p>平均満足度
            <% if @product.reviews.present? %>
              <%=@product.review_average %>点
              <span class="rating-star"><i class="star-actived rate-<%=@product.review_average %>0"></i></span>
            <% else %>
              <span class="rating-star"><i class="star-actived rate-0"></i></span>
            <% end %>
        </p>
        <%= render partial: "reviews/review", collection: @reviews %>
      <% else %>
        <h4>この製品にはレビューがまだありません。<br>レビューを投稿しませんか？</h4>
        <button type="button" class="btn btn-default">
          <%= link_to 'レビューを書く', "/products/#{@product.id}/reviews/new", method: :get %>
        </button>
      <% end %>
    </div>
<!-- レビューの表示 -->

<!-- Q&Aの表示-->
    <div class="col-xs-10 col-lg-6">
      <h3>Q ＆ A</h3>
      <p>みんなからの質問<%= @product.questions.length %>件</p>
      <%= render partial: "questions/question", collection: @questions %>
    </div>
<!-- Q&Aの表示-->
</div>
